<div class="content" style="display: inline-block; margin-left: 10px;">
<h2>All Questions for :- <%= @quiz.title %> </h2>

  <% @questions.each do |q| %>
    <div class="question-box" style="display: inline-block; margin-left: 10px; border: 1px solid black; padding: 10px;">

      <h6> Question :- <%= q.content %><br></h6>
      <h6>Option 1 :- <%= q.answer1 %><br><h6>
      <h6>Option 2 :- <%= q.answer2 %><br><h6>
      <h6>Option 3 :- <%= q.answer3 %><br><h6>
      <h6>Option 4 :- <%= q.answer4 %><br><h6>
      <h6>Correct_Answer :- <%= q.correct %><br><h6>
    
    </div>    
  <% end %>
  <br> <br>

    <div class="content" style="display: inline-block; margin-left: 10px;">
        <%= link_to "Add New Quetion", new_quiz_question_path(@quiz.id), class: 'btn btn-secondary' %>
    </div> 
    <div class="content" style="display: inline-block; margin-left: 10px;">
        <%= link_to "Back to Lectures", course_mylecture_path(@course), class: 'btn btn-secondary' %>
    </div> 


</div>
