<h1>Update Lecture</h1>

<%= form_with(model: [@course, @lecture], local: true) do |form| %>
  
  <%= form.label :video %>
  <%= form.file_field :video,  disposition: 'attachment' %>

  <%= form.submit 'Update Lecture' %>
<% end %>

<%= link_to 'Back to Lectures', course_mylecture_path %>
