<!-- <h1>Lectures for <%#= @course.title %></h1> -->
<%= notice %>



<% @lectures.each do |lecture|%>

<% if lecture.video.attached? %>
            <p>Download File: <%= link_to lecture.video.filename, rails_blob_path(lecture.video,disposition: 'attachment') %></p>
       
<% end %>




<!-- <h1>Quiz For for <%= @course.title %></h1>
 -->
<%#= link_to 'create quizz ', new_course_lecture_quiz_path(@course, lecture)%>  <br><br>

<%end%>
<%= link_to 'Back to Course', courses_mycourse_path %>  <br><br>
<%= link_to 'Add New Lecture', new_course_lecture_path(@course) %>
