 <h1>Quiz for <%= @course.title %></h1>
  <% @lectures.each do |lecture|%>
    <% if lecture.video.attached? %>
     <p>Download Video: <%= link_to lecture.video.filename, rails_blob_path(lecture.video,disposition: 'attachment') %></p>
     
     <div class="content" style="display: inline-block; margin-left: 200px;">
      <p>
        <strong>Update Lectures</strong><br/>
        <small><%= link_to 'Update Lecture', edit_course_lecture_path(@course,lecture), class: 'btn btn-secondary' %></small>
      </p>
     </div>

    <div class="content" style="display: inline-block; margin-left: 200px;">
      <p>
        <strong>Delete Lectures</strong><br/>
        <small><%= button_to "Delete Lecture", course_lecture_path(@course, lecture), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></small>
      </p>
     </div>

     <div class="content" style="display: inline-block; margin-left: 200px;">
      <p>
        <center><strong>Quiz For this lecture<strong></center><br/>
         <strong><%= link_to 'Create Quizz ', new_course_lecture_quiz_path(@course, lecture), class: 'btn btn-secondary'%><strong>
      </p>
     </div>
     <div class="content" style="display: inline-block; margin-left: 20px;">
      <p>
        <strong><%= link_to 'Show Quizz', course_lecture_myquiz_path(@course,lecture), class: 'btn btn-secondary' %></strong>
      </p>
      </div>
      
    <%end%>
  <%end%>
  <br>
    
 <div class="content" style="display: inline-block; margin-left: 10px;">
    <%= link_to "Back to Courses", courses_mycourse_path, class: 'btn btn-secondary' %>
  </div>
