<p style="color: green"><%= notice %></p>
<div class="column is-one-quarter">
 <strong><h1 style= "color: red">Cretaed By :- <%= @instructor.name %> </h1></strong>
  <% @courses.each do |course| %>

    <nav class="panel">
        <p class="panel-heading"></p>
        <div class="panel-block">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                       <%= gravatar_image_tag(current_user.email, size:64,alt: current_user.name)%>
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                           
                            <br>
                            <h2>Courses:</h2><br>
                              <p>Course title :- <%= course.title %></p> 
                              <p>Course Description :- <%= course.description %></p>
                          
                              <% if course.fileupload.attached? %>
                                  <p>Download File: <%= link_to course.fileupload.filename, rails_blob_path(course.fileupload) %></p>
                              <% else %>
                                  <p>No file attached.</p>
                              <% end %>
                              <br>
                            
                        </p>

                        <div>
                            <%= link_to "Edit this Course", edit_course_path(course) %> |
                            <%= link_to "Back to Course", courses_path %>

                            <%= button_to "Delete Course", course, method: :delete %>
                        </div>

                    </div>
                </div>
             </article>
          </div> 
    </nav>
<%end%>
</div>