<p style="color: green"><%= notice %></p>

<%
=begin%>
 <h1>Cretaed By :- <%= @instructor.name %> </h1>
<br>
<h2>Courses:</h2><br>
<% @courses.each do |course| %>
  <p>Course title :- <%= course.title %></p> 
  <p>Course Description :- <%= course.description %></p>
  <br>
  <!-- Additional course details -->
<% end %> 
<%
=end%>


<div class="column is-one-quarter">
    <nav class="panel">
        <p class="panel-heading"></p>
        <div class="panel-block">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                       <%= gravatar_image_tag(current_user.email, size:64,alt: current_user.name)%>
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <h1>Cretaed By :- <%= @instructor.name %> </h1>
                            <br>
                            <h2>Courses:</h2><br>
              
                            <% @courses.each do |course| %>

                            <p>Course title :- <%= course.title %></p> 
                           <p>Course Description :- <%= course.description %></p>
                          
                          <% if course.fileupload.attached? %>
  <p>Download File: <%= link_to course.fileupload.filename, rails_blob_path(course.fileupload) %></p>
<% else %>
  <p>No file attached.</p>
<% end %>

                          <%
=begin%>
 <p> File: <%= link_to 'Download', url_for(@course) %> </p> 
<%
=end%>
  
                          <br>
                          <% end %>

                        </p>
                    </div>

                </div>
            </article>

        </div> 

    </nav>