<% if @enrollments.any? %>
<%# Course.joins(:enrollments).where("enrollments.user_id = ?",current_user.id).each do |enroll| %>
<% @enrolls.each do |enroll| %>
      
      <h1 class="card-title">Course Title : - <%= enroll.title %></h1>
          <p><strong class="card-text">Description: </strong><%= enroll.description %></p>

         <% if enroll.documents.attached? %>
                                <% enroll.documents.each do |document| %>
                                  <p>Download File: <%= link_to document.filename, rails_blob_path(document) %></p>
                                <%end%>
        <% end %>

        <% if enroll.lectures.any? %>
                              <% enroll.lectures.each do |lecture|%>
                                <% if lecture.video.attached? %>
                                  <p>Download Video: <%= link_to lecture.video.filename, rails_blob_path(lecture.video,disposition: 'attachment') %></p>
                                <%end%>
                                <br>
                                <h1>Satrt Quiz :-    </h1>
                                <h2>Quiz Topic :- </h2>
                                <% if lecture.quiz.present? %>  
                                  <%= lecture.quiz.title%>
                                  <br>     
                                <%end%>
                                <br>
                            <p> Quiz  Questions :-    </p> 
                               
                                <%= lecture.quiz.questions.pluck(:content).join(' ')%>
                             

                              <%end%>
                            <%end%>

<%end%>
<%else%>
  <p>No enrollments for this course yet.</p>

<%end%>
<br>
<%= link_to 'Back', courses_path, class: "btn btn-secondary" %>



