<!DOCTYPE html>
<html>
<head>
<style>
    /* div.content{
        height: 1000px;
        width: 250%;
        background-color: powderblue;
    } */
    div.panel-block{
        width: 50%;
        
    }
</style>
</head>

<body>


 <div class="column is-one-quarter">
    <nav class="panel">
        <p class="panel-heading">Courses Available</p>
        <div class="panel-block">
            <article class="media">
                <div class="media-left">
        
                    <figure class="image is-64x64">
                       <%= gravatar_image_tag(current_user.email, size:64,alt: current_user.name)%>
                    </figure>
                
                <div class="media-content" >
                    <div class="content">
                        <p>
                        
                            <h2>List of Courses</h2>
                            <%= user.find_each do |u| %>
                                  

                                <% if u.courses.exists? %>
                                   <%# u.courses.find_each do |course| %>
                                    <h3>Created By : -   <%= u.name %> </h3>
                                      <% u.courses.pluck(:title,:description,:documents, :id).each do |i,i1,i2,i3| %>

                                       <h4>Title Of Course</h4>                              
                                        <%= i %> 
                                        <br>

                                        <h4>Description Of Course</h4>                        
                                        <%= i1%>

                                        <% if current_user && current_user.role=='Student?' && current_user.enrollments.where(course_id:i3) %>
                                          <%= link_to 'View Course', '#' %>
                                        <% else %>
                                            <%= link_to 'Enroll', course_enroll_path(i3) %>
                                         <% end %>


                                        <br>
                                        <br>
                                        <%end%>
                                    
                                    <%end%>
                            <%end%>

                        </p>
                    </div>

                </div>
                </div>
            </article>
        </div> 
    </nav> 
</div> 
</body>
<html>


