<!DOCTYPE html>
<html>
<head>
  <title>Course Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <p style="color: green"><%= notice %></p>

  <% @courses.each do |course| %>
    <nav class="panel">
      <p class="panel-heading"></p>
      <div class="panel-block" style="display: inline-block; margin-left: 50px;">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.name) %>
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <h2>Courses:</h2><br>
                <p>Course title: <%= course.title %></p> 
                <p>Course Description: <%= course.description %></p>

                <% if course.documents.attached? %>
                  <% course.documents.each do |document| %>
                    <p>Download File: <%= link_to document.filename, rails_blob_path(document) %></p>
                  <% end %> 
                <% end %> 

                <br> 
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="panel-block" style="display: inline-block; margin-left: 50px;">
        <article class="media">
          <div class="media-content">
            <div class="content" style="display: inline-block; margin-left: 100px;">
              <p>
                <strong>Add Lecture</strong><br/>
                <small><%= link_to 'Add Lecture', new_course_lecture_path(course), class: 'btn btn-primary' %></small>
              </p>
            </div>
            <div class="content" style="display: inline-block; margin-left: 200px;">
              <p>
                <strong>Show Lectures</strong><br/>
                <small><%= link_to 'Show Lecture', course_mylecture_path(course), class: 'btn btn-secondary' %></small>
              </p>
            </div>
          

        

            <div class="content" style="display: inline-block; margin-left: 250px;">
              <%= link_to "Edit", edit_course_path(course), class: 'btn btn-info' %> 
              <%= link_to "Destroy", course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %> 
              <%= link_to "Back", courses_path, class: 'btn btn-secondary' %>
            </div>
          </div>
        </article>
      </div>
    </nav>
  <% end %>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
